---
title: PasswordManage
description: PasswordManage
keywords: PasswordManage
---

<link href="css/form.css" rel="stylesheet" type="text/css" />

<form id="password">
    <div class="form-group">
        <label class="form-control-label" for="user-name">用户名:</label>
        <input type="text" class="form-control" id="user-name" name="user-name" v-model="userName">
    </div>
    <div class="form-group">
        <label class="form-control-label" for="domain">域名:</label>
        <input type="text" class="form-control" id="domain" name="domain" v-model="domain">
    </div>
    <div class="form-group">
        <label class="form-control-label" for="hash">唯一码:</label>
        <input type="password" class="form-control" id="hash" name="hash" v-model="hash">
    </div>
    <div class="form-group">
        <label></label>
        <button type="button" class="btn" @click="getPassword">确定</button>
    </div>
    
    <div class="form-group" v-if="copy">
        <label></label>
        <button type="button" class="btn" :data-clipboard-text="password">复制密码</button>
    </div>
</form>

<script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
<script src="//cdn.bootcss.com/blueimp-md5/2.6.0/js/md5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
<script src="js/password.js"></script>
